<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Items page</title>
</head>
<body>
<form action="#" th:action="@{/add}" method="get">
    <button type="submit">Create item</button>
</form>
<table>
    <tr>
        <th></th>
        <th>NAME</th>
        <th>STATUS</th>
        <th></th>
    </tr>
    <tr th:each="itemDTO : ${items}" th:object="${itemDTO}">
        <form action="#" th:action="@{/update}" th:object="${updateItem}" method="post">
            <td><input hidden th:value="${itemDTO.id}" name="id"/>
            </td>
            <td th:text="${itemDTO.name}"></td>
            <td>
                <select th:field="*{status}">
                    <option th:value="${itemDTO.status}" th:text="${itemDTO.status}"/>
                    <option th:each="itemstatusenum : ${statuses}"
                            th:if="${!itemDTO.status.equals(itemstatusenum.name())}"
                            th:utext="${itemstatusenum}"
                            th:value="${itemstatusenum}"/>
                </select>
            </td>
            <td>
                <button type="submit">Change status</button>
            </td>
        </form>
    </tr>
</table>
</body>
</html>