<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create item</title>
</head>
<body>
<form action="#" th:action="@{/items}" method="get">
    <button type="submit">Show items</button>
</form>
<form action="#" th:action="@{/add}" th:object="${itemDTO}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Status:</td>
            <td>
                <select th:field="*{status}">
                    <option th:each="itemstatusenum : ${statuses}"
                            th:value="${itemstatusenum}"
                            th:utext="${itemstatusenum}"/>
                </select></td>
            <td th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Status Error</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Add item</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>