<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Items page</title>
</head>
<body>
<form action="#" th:action="@{/add}" method="get">
    <button type="submit">Create item</button>
</form>
<table>
    <tr>
        <th></th>
        <th>NAME</th>
        <th>STATUS</th>
        <th></th>
    </tr>
    <tr th:each="item : ${items}" th:object="${item}">
        <form action="#" th:action="@{/update}" th:object="${updateItem}" method="post">
            <td><input hidden th:value="${item.id}" name="id"/>
            </td>
            <td th:text="${item.name}"></td>
            <td>
                <select id="status" name="status">
                    <option th:each="status :  ${T(com.gmail.etauroginskaya.data.model.ItemStatusEnum).values()}"
                            th:value="${status}"
                            th:text="${status}"
                            th:selected="${status.name()==item.status}">
                    </option>
                </select>
            </td>
            <td>
                <button type="submit">Change status</button>
            </td>
        </form>
    </tr>
</table>
</body>
</html>